################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/MarcoLogger/v15
/src/Marco.Logger/obj/Debug/netstandard2.0
/src/Marco.Logger/obj
